.box {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    min-height:90vh;
    width: auto;
    text-align: center;
    background-color: #eeeeee;
}

.box h1 {
    font-size: 72px;
    color: #0d791f;
}

.box img {
    margin: 10px auto;
}

.box .btn {
    border: none;
    background-color: #0d791f;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.box .btn:hover {
    background-color: #0c940c;
    color: white;
}

nav.navbar {
    padding: 0;
    background: #0d791f;
}

ul.mr-auto li {
    border-right: 1px solid #0c940c;
}

ul.ml-auto li {
    width: 160px;
    border-left: 1px solid #0c940c;
}

ul.navbar-nav {
	margin: 0;
	padding: 0;
	list-style: none;
    height: 5vh;
    line-height: 5vh;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

ul.navbar-nav a {
	display: block;
	padding: 0 28px;
    min-width: 120px;
    text-align: center;
	color: #ccece6;
	text-decoration: none;
}

ul.navbar-nav a:hover,
ul.navbar-nav li.current a {
	background:#0c940c;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#toxicModal {
    overflow: hidden;
}

.modal {
    height: 600px;
}

.modal-footer .btn-primary {
    border: 1px solid #0d791f;
    background-color: #0d791f;
    transition-duration: 0.2s;
    cursor: pointer;
}

.modal-footer .btn-secondary {
    border: 1px solid #0c940c;
    background-color: #0c940c;
    transition-duration: 0.2s;
    cursor: pointer;
}

.modal-footer .btn-primary:hover {
    background-color: #0c940c;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 5vh;
    line-height: 5vh;
    width: 100%;
    background-color: #0d791f;
    color: white;
    text-align: center;
}